<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="<%= current_page?(action: :home) ? '#page-top' : '/' %>" style="margin-top: -15px;">
        <%= image_tag '01_LogoVIAJEMANIA_cabecera.png', alt: 'Viaje Mania Logo', height: '50px' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <% if current_page?(action: :home) %>
            <li><a class="page-scroll text-center" href="#about">Nosotros</a></li>
        <% else %>
            <%= content_tag :li, link_to('Nosotros', about_path, class: "page-scroll text-center") %>
        <% end %>
        <% categories_list.each do |category| %>
            <% if current_page?(action: :home) && category.mostrar_en_portada? %>
                <li><%= link_to category.nombre, "#packages-#{category.slug}", class: "page-scroll text-center" %></li>
            <% elsif @category && @category.id == category.id %>
                <li class="active"><%= link_to category.nombre, "#packages-#{category.slug}", class: "page-scroll text-center" %></li>
            <% else %>
                <li><%= link_to category.nombre, landing_category_path(category), class: "page-scroll text-center" %></li>
            <% end %>
        <% end %>
        <li>
          <a class="page-scroll text-center" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>