<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
      <div id="carousel-example-generic" class="carousel fade">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% sliders_list.each do |slide| %>
              <div class="item">
                <%= image_tag slide.img, class: "img-responsive img-full" %>
                <div class="carousel-caption">
                  <h1><%= slide.nombre %></h1>
                  <p class="carousel-subtitle"><%= slide.subtitulo %></p><br>
                  <a id="circle" href="#about" class="btn page-scroll">
                    <!--<i class="fa fa-angle-double-down animated"></i>-->
                    <%= image_tag '04_ICON_flechita.png', class: "img-responsive center-block" %>
                  </a>
                </div>
              </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span><%= image_tag 'left-control.png' %></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span><%= image_tag 'right-control.png' %></span>
        </a>
      </div>
      <!-- carousel end-->


  </div>
</header>

<% content_for :javascript do %>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
            $('.carousel-inner .item:first').addClass('active');
        });
    </script>
<% end %>