<%= render 'landing/slider' %>

<!-- Category Section -->
<section id="content" class="content-section">
  <div class="<%= @category.style_class %>" %>">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h1 class="package-title"><%= @category.nombre %></h1>
        <div class="row">
          <% if @category.destinations.empty? %>
            <%= render 'landing/empty' %>
          <% else %>
            <%= render @category.destinations %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>