<%= render 'landing/slider' %>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3">
      <%= image_tag '02_LogoVIAJEMANIA_nosotros.png', class: 'img-responsive center-block' %>
      <div class="about-text">
        <p>Somos una agencia de viaje joven y dinámica, dedicada a crear experiencias que enriquezcan la vida de
          las personas a través de la organización y desarrollo de viajes que satisfagan plenamente las
          expectativas.</p>

        <p>Llamanos y nosotros te llevamos.</p>
      </div>
    </div>
  </div>
</section>

<!-- Packages Section -->
<% @categories.each do |category| %>
    <section id="packages-<%= category.slug %>" class="content-section">
      <div class="package-section">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h5 class="package-title"><%= category.nombre %></h5>
            <div class="row">
              <%= render category.destinations.where(mostrar_en_portada: true).limit(4) %>
            </div>
          </div>
          <%= link_to "Ver otros paquetes...", landing_category_path(category), class: "package-link" %>
        </div>
      </div>
    </section>
<% end %>

<!--&lt;!&ndash; Map Section &ndash;&gt;-->
<!--<div id="map"></div>-->
<!--&lt;!&ndash; Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ &ndash;&gt;-->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->