<%# render 'landing/slider' %>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3">
      <%= image_tag '02_LogoVIAJEMANIA_nosotros.png', class: 'img-responsive center-block' %>
      <div class="about-text">
        <p>Somos una agencia de viaje joven y dinámica, dedicada a crear experiencias que enriquezcan la vida de
          las personas a través de la organización y desarrollo de viajes que satisfagan plenamente las
          expectativas.</p>

        <p>Llamanos y nosotros te llevamos.</p>
      </div>
    </div>
  </div>
</section>

<!-- Packages Section -->
<% @categories.each do |category| %>
    <section id="packages-<%= category.slug %>" class="content-section">
      <div class="<%= cycle("package-section", "package-section-altern", name: 'section') %>">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h1 class="package-title"><%= category.nombre %></h1>
            <div class="row">
              <%# calculate_offset(category.front_destinations.count) %>
              <%= render category.front_destinations %>
            </div>
          </div>
          <%= content_tag :h4, link_to("Ver otros paquetes...", landing_category_path(category), class: "package-link pull-right") %>
        </div>
      </div>
    </section>
<% end %>