<h2>Agregar nuevo usuario</h2>

<%= form_for @casein_admin_user do |form| %>

	<div class="row">
  		<div class="col-lg-6">
			<%= casein_text_field form, @casein_admin_user, :login, {:size => 30, :casein_label => "Username"} %>
		</div>
		<div class="col-lg-6">
			<%= casein_text_field form, @casein_admin_user, :name, casein_label: 'Nombre' %>
		</div>
	</div>

	<div class="row">
  		<div class="col-lg-6">
			<%= casein_text_field form, @casein_admin_user, :email %>
		</div>
		<div class="col-lg-6">
			<%= casein_time_zone_select form, @casein_admin_user, :time_zone, ActiveSupport::TimeZone.us_zones, casein_label: 'Zona horaria' %>
		</div>
	</div>


	<div class="row">
  		<div class="col-lg-6">
			<%= casein_select form, @casein_admin_user, :access_level, casein_get_access_level_array, {:casein_label => "Rol"} %>
		</div>
		<div class="col-lg-6">
		</div>
	</div>

	<div class="row">
  		<div class="col-lg-6">
			<%= casein_password_field form, @casein_admin_user, :password, {:casein_label => "Password"} %>
		</div>
		<div class="col-lg-6">
			<%= casein_password_field form, @casein_admin_user, :password_confirmation, {:casein_label => "Repetir password"} %>
		</div>
		<div class="col-lg-12 password-checkbox">
			<div class="checkbox">
	      		<label>
	      			<%= check_box_tag :generate_random_password, "1", false, {:id => 'generate-random-password-checkbox'} %> Generar password aleatorio
	      		</label>
	    	</div>
	    </div>
	</div>

	<p class="submits">
		<%= link_to 'Cancelar', casein_admin_users_path, :class => 'btn btn-mini btn-danger' %>
		<%= form.submit "Agregar nuevo usuario", :class => "btn btn-mini btn-primary" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
  <li><%= link_to "#{casein_show_icon('th-list')}Volver a lista".html_safe, casein_admin_users_path %></li>
<% end %>